$primary-color: red;
$secondary-color: white;
$primary-background-color: rgb(200, 0, 0);
$secondary-background-color: white;
$background-color: #ddd;

$knights-yellow: rgb(230, 172, 49);
$knights-red: rgb(209, 43, 63);
$knights-blue: rgb(50, 61, 125);
