@import 'variables';

%primary-background-color {
  background-color: $primary-background-color;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), $light-shadow);
}

%dark-border {
  border: 2px solid rgba(0, 0, 0, 0.4);
}

%dark-bottom-border {
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

%light-border {
  border: 2px solid white;
}

%light-box-shadow {
  box-shadow: 2px 2px 4px 1px $light-shadow;
}

%medium-box-shadow {
  box-shadow: 2px 2px 4px 1px $medium-shadow;
}

%dark-box-shadow {
  box-shadow: 2px 2px 4px 1px $dark-shadow;
}

%text-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.8);
}
